@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* CSS 적용순서 
1너비.높이.색깔-화면에 나와야함
2위치
3색깔 이미지로 교체 <->ex)background-image:url("/img/bg1.png") */

.signup3_box {
  width: 725px;
  height: 575px;
  border-image-source: url("../img/frame_2.png");
  background-size: cotain;
  background-repeat: no-repeat;
  position: relative;
  border-image-slice:233 30 12 242 fill;
  border-image-width:233px 30px 12px 242px;
  border-image-outset:0px 0px 0px 0px;
  border-image-repeat:stretch stretch;
}

.signup3_box .signup {
  /* background-color:pink; */
  position: absolute;
  top: 42px;
  left: 107px;
  width: 105px;
  height: 41px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #F4EEE9;
  text-shadow: 0px 0px 6px #000000;
}

.signup3_box .content3_box {
  width: 600px;
  height: 470px;
  position: absolute;
  top: 93px;
  left: 104px;
  /* background-color: aquamarine; */
  border-image-source: url("../img/popup_bg_black.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  border-image-slice:93 93 93 93 fill;
  border-image-width:93px 93px 93px 93px;
  border-image-outset:0px 0px 0px 0px;
  border-image-repeat:repeat repeat;
}

.signup3_box .content3_box .top3_Contentbox {
  width: 600px;
  height: 376px;
  /* background-color:palegreen; */
  border-image-source: url("../img/popup_bg_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  border-image-slice:90 90 0 90 fill;
  border-image-width:90px 90px 0px 90px;
  border-image-outset:0px 0px 0px 0px;
  border-image-repeat:stretch stretch;
}


/* area1 */

.content3_box .top3_Contentbox .area1 {
    width: 540px;
    height: 113px;
    position: absolute;
    top: 32px;
    left: 20px;
  }
  .content3_box .top3_Contentbox .area1 .unit {
    width: 10px;
    height: 10px;
    background: #736d67;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 10px;
  }
  .content3_box .top3_Contentbox .area1 .con {
    /* p태그한테는 굳이 너비를 주지않아도 글씨때문에 공간이 들어감 */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #736d67;
    line-height: 23px;
    position: absolute;
    top: 5px;
    left: 24px;
  }
  
  .content3_box .top3_Contentbox .area1 input {
    width: 520px;
    height: 40px;
    background: #736d67;
    position: absolute;
    top: 38px;
    left: 20px;
  }
  .content3_box .top3_Contentbox .area1 input::placeholder {
    padding-left: 20px;
  }
  .content3_box .top3_Contentbox .area1 .inputBtn {
    width: 96px;
    height: 31px;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px #000;
    position: absolute;
    top: 43px;
    right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .content3_box .top3_Contentbox .area1 .inputBtn p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #736d67;
  }
  
  .content3_box .top3_Contentbox .area1 .sendBtn {
    width: 81px;
    height: 31px;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px #000;
    position: absolute;
    top: 0px;
    left: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .content3_box .top3_Contentbox .area1 .sendBtn p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #736d67;
  }
  
  .content3_box .top3_Contentbox .area1 .rem {
    /* p태그한테는 굳이 너비를 주지않아도 글씨때문에 공간이 들어감 */
    position: absolute;
    bottom: 0;
    left: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #736d67;
  }
  
  .content3_box .top3_Contentbox .area1 .danger {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ff0000;
    position: absolute;
    bottom: 0;
    right: 40px;
  }
  
  .content3_box .top3_Contentbox .wrongcode {
    width:110px;
    height:23px;
    /* background-color: #fff; */
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    /* display:flex;
    justify-content:center;
    align-content: center; */
  }

  .content3_box .top3_Contentbox .wrongcode > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF0000;
  }


/* button */
.content3_box .button {
  width: 217px;
  height: 62px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/silver_button.png");
  /* display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
}

.content3_box .button_text{
  width:100%;
  height:100%;
  position: absolute;
  display:flex;
  justify-content:center;
  align-items:center;
}

.content3_box .button .button_cover{
  width:100%;
  height:100%;
  background-image: url("../img/disabled_pall.png");
}

.content3_box .button p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #652d12;
}